EjDTD/1/uno.dtd

 <!ELEMENT aeropuerto (nombre, vuelo*, fecha)>
 <!ELEMENT nombre (#PCDATA)>
 <!ELEMENT vuelo (diario?, origen, destino, horaSalida, horaLlegada)>
 <!ATTLIST vuelo codigo ID #REQUIRED>
 <!ATTLIST vuelo estado (C|E|R) "E">
 <!ELEMENT fecha (#PCDATA)>
 <!ELEMENT diario EMPTY>
 <!ELEMENT origen (#PCDATA)>
 <!ELEMENT destino (#PCDATA)>
 <!ELEMENT horaSalida (#PCDATA)>
<!ELEMENT horaLlegada (#PCDATA)>
